// 
// Signup
// 

.signup-section {
    padding: 10rem 0;
    background: linear-gradient(to bottom,
        #{fade-out($deep, 0.0)} 0%,
        #{fade-out($deep, 0.1)} 75%,
        $deep 100%);
    margin-bottom: -1px; // needed because at some sizes the gradient ends with a faint line
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    .form-signup {
        input {
            box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
            padding: 1.25rem 2rem;
            height: auto;
            font-family: $font-family-special;
            font-size: 80%;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
            border: 0;
            margin-bottom: 20px;
        }
    }
}